*.gcda
*.gcno
*.gcov
*.lo
*.log
*.o
*.trs
*~
.version
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/missing
build-aux/test-driver
config.log
config.status
configure
doc/coverage/
gl/.deps/
gl/libgnu.a
liboath/.deps/
liboath/.libs/
liboath/Makefile
liboath/Makefile.in
liboath/aclocal.m4
liboath/autom4te.cache/
liboath/build-aux/ar-lib
liboath/build-aux/compile
liboath/build-aux/config.guess
liboath/build-aux/config.sub
liboath/build-aux/depcomp
liboath/build-aux/install-sh
liboath/build-aux/ltmain.sh
liboath/build-aux/missing
liboath/build-aux/test-driver
liboath/config.h
liboath/config.h.in
liboath/config.log
liboath/config.status
liboath/configure
liboath/gl/.deps/
liboath/gl/.libs/
liboath/gl/alloca.h
liboath/gl/arg-nonnull.h
liboath/gl/c++defs.h
liboath/gl/libgnu.la
liboath/gl/stdalign.h
liboath/gl/stdio.h
liboath/gl/stdlib.h
liboath/gl/string.h
liboath/gl/sys/
liboath/gl/tests/.deps/
liboath/gl/tests/arg-nonnull.h
liboath/gl/tests/c++defs.h
liboath/gl/tests/dirent.h
liboath/gl/tests/fcntl.h
liboath/gl/tests/inttypes.h
liboath/gl/tests/libtests.a
liboath/gl/tests/test-alloca-opt
liboath/gl/tests/test-base32
liboath/gl/tests/test-binary-io
liboath/gl/tests/test-c-ctype
liboath/gl/tests/test-canonicalize-lgpl
liboath/gl/tests/test-chdir
liboath/gl/tests/test-close
liboath/gl/tests/test-dirent
liboath/gl/tests/test-environ
liboath/gl/tests/test-errno
liboath/gl/tests/test-fclose
liboath/gl/tests/test-fcntl-h
liboath/gl/tests/test-fdopen
liboath/gl/tests/test-fflush
liboath/gl/tests/test-fflush2
liboath/gl/tests/test-fgetc
liboath/gl/tests/test-float
liboath/gl/tests/test-fopen
liboath/gl/tests/test-fpurge
liboath/gl/tests/test-fputc
liboath/gl/tests/test-fread
liboath/gl/tests/test-freading
liboath/gl/tests/test-fseek
liboath/gl/tests/test-fseeko
liboath/gl/tests/test-fseeko3
liboath/gl/tests/test-fseeko4
liboath/gl/tests/test-fstat
liboath/gl/tests/test-ftell
liboath/gl/tests/test-ftell3
liboath/gl/tests/test-ftello
liboath/gl/tests/test-ftello3
liboath/gl/tests/test-ftello4
liboath/gl/tests/test-fwrite
liboath/gl/tests/test-gc
liboath/gl/tests/test-gc-hmac-sha1
liboath/gl/tests/test-getcwd-lgpl
liboath/gl/tests/test-getdelim
liboath/gl/tests/test-getline
liboath/gl/tests/test-hmac-sha1
liboath/gl/tests/test-ignore-value
liboath/gl/tests/test-intprops
liboath/gl/tests/test-inttypes
liboath/gl/tests/test-link
liboath/gl/tests/test-lseek
liboath/gl/tests/test-lstat
liboath/gl/tests/test-malloca
liboath/gl/tests/test-memchr
liboath/gl/tests/test-pathmax
liboath/gl/tests/test-priv-set
liboath/gl/tests/test-readlink
liboath/gl/tests/test-rename
liboath/gl/tests/test-rmdir
liboath/gl/tests/test-sha1
liboath/gl/tests/test-snprintf
liboath/gl/tests/test-stat
liboath/gl/tests/test-stdalign
liboath/gl/tests/test-stdbool
liboath/gl/tests/test-stddef
liboath/gl/tests/test-stdint
liboath/gl/tests/test-stdio
liboath/gl/tests/test-stdlib
liboath/gl/tests/test-string
liboath/gl/tests/test-strverscmp
liboath/gl/tests/test-symlink
liboath/gl/tests/test-sys_stat
liboath/gl/tests/test-sys_types
liboath/gl/tests/test-time
liboath/gl/tests/test-unistd
liboath/gl/tests/test-unlink
liboath/gl/tests/test-unsetenv
liboath/gl/tests/test-vasnprintf
liboath/gl/tests/test-verify
liboath/gl/tests/test-wchar
liboath/gl/tests/unused-parameter.h
liboath/gl/tests/warn-on-use.h
liboath/gl/time.h
liboath/gl/unistd.h
liboath/gl/unused-parameter.h
liboath/gl/warn-on-use.h
liboath/gl/wchar.h
liboath/gtk-doc/Makefile
liboath/gtk-doc/Makefile.in
liboath/gtk-doc/html-build.stamp
liboath/gtk-doc/html.stamp
liboath/gtk-doc/html/
liboath/gtk-doc/liboath-decl-list.txt
liboath/gtk-doc/liboath-decl-list.txt.bak
liboath/gtk-doc/liboath-decl.txt
liboath/gtk-doc/liboath-decl.txt.bak
liboath/gtk-doc/liboath-overrides.txt
liboath/gtk-doc/liboath-sections.txt
liboath/gtk-doc/liboath-undeclared.txt
liboath/gtk-doc/liboath-undocumented.txt
liboath/gtk-doc/liboath-unused.txt
liboath/gtk-doc/liboath.args
liboath/gtk-doc/liboath.hierarchy
liboath/gtk-doc/liboath.interfaces
liboath/gtk-doc/liboath.pdf
liboath/gtk-doc/liboath.prerequisites
liboath/gtk-doc/liboath.signals
liboath/gtk-doc/liboath.types
liboath/gtk-doc/pdf-build.stamp
liboath/gtk-doc/pdf.stamp
liboath/gtk-doc/scan-build.stamp
liboath/gtk-doc/setup-build.stamp
liboath/gtk-doc/sgml-build.stamp
liboath/gtk-doc/sgml.stamp
liboath/gtk-doc/tmpl-build.stamp
liboath/gtk-doc/tmpl.stamp
liboath/gtk-doc/tmpl/
liboath/gtk-doc/version.xml
liboath/gtk-doc/xml/
liboath/lib/.deps/
liboath/lib/.libs/
liboath/lib/Makefile
liboath/lib/Makefile.in
liboath/lib/alloca.h
liboath/lib/arg-nonnull.h
liboath/lib/c++defs.h
liboath/lib/libgnu.la
liboath/lib/stdio.h
liboath/lib/stdlib.h
liboath/lib/string.h
liboath/lib/sys/
liboath/lib/time.h
liboath/lib/unistd.h
liboath/lib/warn-on-use.h
liboath/lib/wchar.h
liboath/liboath.la
liboath/liboath.pc
liboath/libtool
liboath/m4/libtool.m4
liboath/m4/ltoptions.m4
liboath/m4/ltsugar.m4
liboath/m4/ltversion.m4
liboath/m4/lt~obsolete.m4
liboath/man/Makefile.gdoc
liboath/man/oath_authenticate_usersfile.3
liboath/man/oath_base32_decode.3
liboath/man/oath_base32_encode.3
liboath/man/oath_bin2hex.3
liboath/man/oath_check_version.3
liboath/man/oath_done.3
liboath/man/oath_hex2bin.3
liboath/man/oath_hotp_generate.3
liboath/man/oath_hotp_validate.3
liboath/man/oath_hotp_validate_callback.3
liboath/man/oath_init.3
liboath/man/oath_strerror.3
liboath/man/oath_strerror_name.3
liboath/man/oath_totp_generate.3
liboath/man/oath_totp_validate.3
liboath/man/oath_totp_validate2.3
liboath/man/oath_totp_validate2_callback.3
liboath/man/oath_totp_validate_callback.3
liboath/oath.h
liboath/stamp-h1
liboath/tests/.deps/
liboath/tests/Makefile
liboath/tests/Makefile.in
liboath/tests/test-suite.html
liboath/tests/test-suite.log
liboath/tests/tst_basic
liboath/tests/tst_basic.log
liboath/tests/tst_coding
liboath/tests/tst_coding.log
liboath/tests/tst_errors
liboath/tests/tst_errors.log
liboath/tests/tst_hotp_algo
liboath/tests/tst_hotp_algo.log
liboath/tests/tst_hotp_validate
liboath/tests/tst_hotp_validate.log
liboath/tests/tst_totp_algo
liboath/tests/tst_totp_algo.log
liboath/tests/tst_totp_validate
liboath/tests/tst_totp_validate.log
liboath/tests/tst_usersfile
libpskc/.deps/
libpskc/.libs/
libpskc/build-aux/ar-lib
libpskc/build-aux/compile
libpskc/build-aux/config.guess
libpskc/build-aux/config.sub
libpskc/build-aux/depcomp
libpskc/build-aux/install-sh
libpskc/build-aux/ltmain.sh
libpskc/build-aux/missing
libpskc/build-aux/test-driver
libpskc/config.h
libpskc/config.h.in
libpskc/examples/.deps/
libpskc/examples/pskc2csv
libpskc/examples/pskccreate
libpskc/examples/pskcsign
libpskc/examples/pskcverify
libpskc/examples/serialno
libpskc/gl/.deps/
libpskc/gl/.libs/
libpskc/gl/arg-nonnull.h
libpskc/gl/c++defs.h
libpskc/gl/libgnu.la
libpskc/gl/string.h
libpskc/gl/tests/.deps/
libpskc/gl/tests/alloca.h
libpskc/gl/tests/arg-nonnull.h
libpskc/gl/tests/c++defs.h
libpskc/gl/tests/inttypes.h
libpskc/gl/tests/libtests.a
libpskc/gl/tests/stdio.h
libpskc/gl/tests/sys/
libpskc/gl/tests/test-alloca-opt
libpskc/gl/tests/test-base64
libpskc/gl/tests/test-errno
libpskc/gl/tests/test-fdopen
libpskc/gl/tests/test-fgetc
libpskc/gl/tests/test-float
libpskc/gl/tests/test-fputc
libpskc/gl/tests/test-fread
libpskc/gl/tests/test-fwrite
libpskc/gl/tests/test-intprops
libpskc/gl/tests/test-inttostr
libpskc/gl/tests/test-inttypes
libpskc/gl/tests/test-memchr
libpskc/gl/tests/test-snprintf
libpskc/gl/tests/test-stdbool
libpskc/gl/tests/test-stddef
libpskc/gl/tests/test-stdint
libpskc/gl/tests/test-stdio
libpskc/gl/tests/test-string
libpskc/gl/tests/test-strverscmp
libpskc/gl/tests/test-sys_types
libpskc/gl/tests/test-unistd
libpskc/gl/tests/test-vasnprintf
libpskc/gl/tests/test-verify
libpskc/gl/tests/test-wchar
libpskc/gl/tests/unistd.h
libpskc/gl/tests/warn-on-use.h
libpskc/gl/tests/wchar.h
libpskc/gl/warn-on-use.h
libpskc/gtk-doc/html-build.stamp
libpskc/gtk-doc/html.stamp
libpskc/gtk-doc/html/
libpskc/gtk-doc/libpskc-decl-list.txt
libpskc/gtk-doc/libpskc-decl-list.txt.bak
libpskc/gtk-doc/libpskc-decl.txt
libpskc/gtk-doc/libpskc-decl.txt.bak
libpskc/gtk-doc/libpskc-overrides.txt
libpskc/gtk-doc/libpskc-sections.txt
libpskc/gtk-doc/libpskc-undeclared.txt
libpskc/gtk-doc/libpskc-undocumented.txt
libpskc/gtk-doc/libpskc-unused.txt
libpskc/gtk-doc/libpskc.args
libpskc/gtk-doc/libpskc.hierarchy
libpskc/gtk-doc/libpskc.interfaces
libpskc/gtk-doc/libpskc.pdf
libpskc/gtk-doc/libpskc.prerequisites
libpskc/gtk-doc/libpskc.signals
libpskc/gtk-doc/libpskc.types
libpskc/gtk-doc/pdf-build.stamp
libpskc/gtk-doc/pdf.stamp
libpskc/gtk-doc/pskc-figure6-debug.sgml
libpskc/gtk-doc/pskc-hotp-human.sgml
libpskc/gtk-doc/pskc-hotp-signed.sgml
libpskc/gtk-doc/pskc-hotp.sgml
libpskc/gtk-doc/pskc-mini.sgml
libpskc/gtk-doc/pskc2csv.sgml
libpskc/gtk-doc/pskccreate.sgml
libpskc/gtk-doc/pskcsign.sgml
libpskc/gtk-doc/pskctool-h.sgml
libpskc/gtk-doc/pskcverify.sgml
libpskc/gtk-doc/scan-build.stamp
libpskc/gtk-doc/serialno.sgml
libpskc/gtk-doc/setup-build.stamp
libpskc/gtk-doc/sgml-build.stamp
libpskc/gtk-doc/sgml.stamp
libpskc/gtk-doc/tmpl-build.stamp
libpskc/gtk-doc/tmpl.stamp
libpskc/gtk-doc/tmpl/
libpskc/gtk-doc/version.xml
libpskc/gtk-doc/xml/
libpskc/include/pskc/version.h
libpskc/libpskc.la
libpskc/libpskc.pc
libpskc/libtool
libpskc/m4/libtool.m4
libpskc/m4/ltoptions.m4
libpskc/m4/ltsugar.m4
libpskc/m4/ltversion.m4
libpskc/m4/lt~obsolete.m4
libpskc/man/Makefile.gdoc
libpskc/man/pskc_add_keypackage.3
libpskc/man/pskc_build_xml.3
libpskc/man/pskc_check_version.3
libpskc/man/pskc_done.3
libpskc/man/pskc_free.3
libpskc/man/pskc_get_cryptomodule_id.3
libpskc/man/pskc_get_device_devicebinding.3
libpskc/man/pskc_get_device_expirydate.3
libpskc/man/pskc_get_device_issueno.3
libpskc/man/pskc_get_device_manufacturer.3
libpskc/man/pskc_get_device_model.3
libpskc/man/pskc_get_device_serialno.3
libpskc/man/pskc_get_device_startdate.3
libpskc/man/pskc_get_device_userid.3
libpskc/man/pskc_get_id.3
libpskc/man/pskc_get_key_algorithm.3
libpskc/man/pskc_get_key_algparm_chall_checkdigits.3
libpskc/man/pskc_get_key_algparm_chall_encoding.3
libpskc/man/pskc_get_key_algparm_chall_max.3
libpskc/man/pskc_get_key_algparm_chall_min.3
libpskc/man/pskc_get_key_algparm_resp_checkdigits.3
libpskc/man/pskc_get_key_algparm_resp_encoding.3
libpskc/man/pskc_get_key_algparm_resp_length.3
libpskc/man/pskc_get_key_algparm_suite.3
libpskc/man/pskc_get_key_data_b64secret.3
libpskc/man/pskc_get_key_data_counter.3
libpskc/man/pskc_get_key_data_secret.3
libpskc/man/pskc_get_key_data_time.3
libpskc/man/pskc_get_key_data_timedrift.3
libpskc/man/pskc_get_key_data_timeinterval.3
libpskc/man/pskc_get_key_friendlyname.3
libpskc/man/pskc_get_key_id.3
libpskc/man/pskc_get_key_issuer.3
libpskc/man/pskc_get_key_policy_expirydate.3
libpskc/man/pskc_get_key_policy_keyusages.3
libpskc/man/pskc_get_key_policy_numberoftransactions.3
libpskc/man/pskc_get_key_policy_pinencoding.3
libpskc/man/pskc_get_key_policy_pinkeyid.3
libpskc/man/pskc_get_key_policy_pinmaxfailedattempts.3
libpskc/man/pskc_get_key_policy_pinmaxlength.3
libpskc/man/pskc_get_key_policy_pinminlength.3
libpskc/man/pskc_get_key_policy_pinusagemode.3
libpskc/man/pskc_get_key_policy_startdate.3
libpskc/man/pskc_get_key_policy_usage.3
libpskc/man/pskc_get_key_profileid.3
libpskc/man/pskc_get_key_reference.3
libpskc/man/pskc_get_key_userid.3
libpskc/man/pskc_get_keypackage.3
libpskc/man/pskc_get_signed_p.3
libpskc/man/pskc_get_version.3
libpskc/man/pskc_global_done.3
libpskc/man/pskc_global_init.3
libpskc/man/pskc_global_log.3
libpskc/man/pskc_init.3
libpskc/man/pskc_keyusage2str.3
libpskc/man/pskc_output.3
libpskc/man/pskc_parse_from_memory.3
libpskc/man/pskc_pinusagemode2str.3
libpskc/man/pskc_set_cryptomodule_id.3
libpskc/man/pskc_set_device_devicebinding.3
libpskc/man/pskc_set_device_expirydate.3
libpskc/man/pskc_set_device_issueno.3
libpskc/man/pskc_set_device_manufacturer.3
libpskc/man/pskc_set_device_model.3
libpskc/man/pskc_set_device_serialno.3
libpskc/man/pskc_set_device_startdate.3
libpskc/man/pskc_set_device_userid.3
libpskc/man/pskc_set_id.3
libpskc/man/pskc_set_key_algorithm.3
libpskc/man/pskc_set_key_algparm_chall_checkdigits.3
libpskc/man/pskc_set_key_algparm_chall_encoding.3
libpskc/man/pskc_set_key_algparm_chall_max.3
libpskc/man/pskc_set_key_algparm_chall_min.3
libpskc/man/pskc_set_key_algparm_resp_checkdigits.3
libpskc/man/pskc_set_key_algparm_resp_encoding.3
libpskc/man/pskc_set_key_algparm_resp_length.3
libpskc/man/pskc_set_key_algparm_suite.3
libpskc/man/pskc_set_key_data_b64secret.3
libpskc/man/pskc_set_key_data_counter.3
libpskc/man/pskc_set_key_data_secret.3
libpskc/man/pskc_set_key_data_time.3
libpskc/man/pskc_set_key_data_timedrift.3
libpskc/man/pskc_set_key_data_timeinterval.3
libpskc/man/pskc_set_key_friendlyname.3
libpskc/man/pskc_set_key_id.3
libpskc/man/pskc_set_key_issuer.3
libpskc/man/pskc_set_key_policy_expirydate.3
libpskc/man/pskc_set_key_policy_keyusages.3
libpskc/man/pskc_set_key_policy_numberoftransactions.3
libpskc/man/pskc_set_key_policy_pinencoding.3
libpskc/man/pskc_set_key_policy_pinkeyid.3
libpskc/man/pskc_set_key_policy_pinmaxfailedattempts.3
libpskc/man/pskc_set_key_policy_pinmaxlength.3
libpskc/man/pskc_set_key_policy_pinminlength.3
libpskc/man/pskc_set_key_policy_pinusagemode.3
libpskc/man/pskc_set_key_policy_startdate.3
libpskc/man/pskc_set_key_profileid.3
libpskc/man/pskc_set_key_reference.3
libpskc/man/pskc_set_key_userid.3
libpskc/man/pskc_set_version.3
libpskc/man/pskc_sign_x509.3
libpskc/man/pskc_str2keyusage.3
libpskc/man/pskc_str2pinusagemode.3
libpskc/man/pskc_str2valueformat.3
libpskc/man/pskc_strerror.3
libpskc/man/pskc_strerror_name.3
libpskc/man/pskc_validate.3
libpskc/man/pskc_valueformat2str.3
libpskc/man/pskc_verify_x509crt.3
libpskc/schemas/catalog-pskc.xml
libpskc/stamp-h1
libpskc/tests/.deps/
libpskc/tests/tst_accessors
libpskc/tests/tst_basic
libpskc/tests/tst_errors
libpskc/tests/tst_setters
libpskc/tests/tst_validate
oath-toolkit-*.tar.gz
oath-toolkit-*.tar.gz.sig
oathtool/.deps/
oathtool/.libs/
oathtool/Makefile
oathtool/Makefile.in
oathtool/aclocal.m4
oathtool/autom4te.cache/
oathtool/build-aux/ar-lib
oathtool/build-aux/compile
oathtool/build-aux/config.guess
oathtool/build-aux/config.sub
oathtool/build-aux/depcomp
oathtool/build-aux/install-sh
oathtool/build-aux/ltmain.sh
oathtool/build-aux/missing
oathtool/build-aux/test-driver
oathtool/build-aux/ylwrap
oathtool/config.h
oathtool/config.h.in
oathtool/config.status
oathtool/configure
oathtool/gl/.deps/
oathtool/gl/.libs/
oathtool/gl/alloca.h
oathtool/gl/arg-nonnull.h
oathtool/gl/c++defs.h
oathtool/gl/inttypes.h
oathtool/gl/libgnu.la
oathtool/gl/m4/libtool.m4
oathtool/gl/m4/ltoptions.m4
oathtool/gl/m4/ltsugar.m4
oathtool/gl/m4/ltversion.m4
oathtool/gl/m4/lt~obsolete.m4
oathtool/gl/parse-datetime.c
oathtool/gl/stdio.h
oathtool/gl/stdlib.h
oathtool/gl/string.h
oathtool/gl/sys/
oathtool/gl/tests/.deps/
oathtool/gl/tests/arg-nonnull.h
oathtool/gl/tests/c++defs.h
oathtool/gl/tests/inttypes.h
oathtool/gl/tests/libtests.a
oathtool/gl/tests/test-alloca-opt
oathtool/gl/tests/test-c-ctype
oathtool/gl/tests/test-environ
oathtool/gl/tests/test-errno
oathtool/gl/tests/test-fdopen
oathtool/gl/tests/test-fgetc
oathtool/gl/tests/test-float
oathtool/gl/tests/test-fputc
oathtool/gl/tests/test-fread
oathtool/gl/tests/test-fwrite
oathtool/gl/tests/test-gettimeofday
oathtool/gl/tests/test-intprops
oathtool/gl/tests/test-inttypes
oathtool/gl/tests/test-malloca
oathtool/gl/tests/test-memchr
oathtool/gl/tests/test-parse-datetime
oathtool/gl/tests/test-parse-duration
oathtool/gl/tests/test-setenv
oathtool/gl/tests/test-stdbool
oathtool/gl/tests/test-stddef
oathtool/gl/tests/test-stdint
oathtool/gl/tests/test-stdio
oathtool/gl/tests/test-stdlib
oathtool/gl/tests/test-strerror
oathtool/gl/tests/test-string
oathtool/gl/tests/test-sys_time
oathtool/gl/tests/test-sys_types
oathtool/gl/tests/test-time
oathtool/gl/tests/test-unistd
oathtool/gl/tests/test-unsetenv
oathtool/gl/tests/test-vasnprintf
oathtool/gl/tests/test-vasprintf
oathtool/gl/tests/test-verify
oathtool/gl/tests/test-version-etc
oathtool/gl/tests/test-wchar
oathtool/gl/tests/test-xalloc-die
oathtool/gl/tests/warn-on-use.h
oathtool/gl/time.h
oathtool/gl/unistd.h
oathtool/gl/warn-on-use.h
oathtool/gl/wchar.h
oathtool/lib/.deps/
oathtool/lib/.libs/
oathtool/lib/Makefile
oathtool/lib/Makefile.in
oathtool/lib/alloca.h
oathtool/lib/arg-nonnull.h
oathtool/lib/c++defs.h
oathtool/lib/libgnu.la
oathtool/lib/parse-datetime.c
oathtool/lib/stdio.h
oathtool/lib/stdlib.h
oathtool/lib/string.h
oathtool/lib/sys/
oathtool/lib/time.h
oathtool/lib/unistd.h
oathtool/lib/warn-on-use.h
oathtool/lib/wchar.h
oathtool/liboathtool_cmd.la
oathtool/libtool
oathtool/m4/libtool.m4
oathtool/m4/ltoptions.m4
oathtool/m4/ltsugar.m4
oathtool/m4/ltversion.m4
oathtool/m4/lt~obsolete.m4
oathtool/oathtool
oathtool/oathtool.1
oathtool/oathtool_cmd.c
oathtool/oathtool_cmd.h
oathtool/stamp-h1
oathtool/tests/Makefile
oathtool/tests/Makefile.in
pam_oath/.deps/
pam_oath/.libs/
pam_oath/Makefile
pam_oath/Makefile.in
pam_oath/aclocal.m4
pam_oath/autom4te.cache/
pam_oath/build-aux/
pam_oath/config.h
pam_oath/config.h.in
pam_oath/config.status
pam_oath/configure
pam_oath/libtool
pam_oath/m4/libtool.m4
pam_oath/m4/ltoptions.m4
pam_oath/m4/ltsugar.m4
pam_oath/m4/ltversion.m4
pam_oath/m4/lt~obsolete.m4
pam_oath/pam_oath.la
pam_oath/stamp-h1
pam_oath/tests/.deps/
pam_oath/tests/Makefile
pam_oath/tests/Makefile.in
pam_oath/tests/test-pam_oath
pam_oath/tests/test-pam_oath-root
pskctool/.deps/
pskctool/.libs/
pskctool/build-aux/ar-lib
pskctool/build-aux/compile
pskctool/build-aux/config.guess
pskctool/build-aux/config.sub
pskctool/build-aux/depcomp
pskctool/build-aux/install-sh
pskctool/build-aux/ltmain.sh
pskctool/build-aux/missing
pskctool/build-aux/test-driver
pskctool/config.h
pskctool/config.h.in
pskctool/gl/.deps/
pskctool/gl/.libs/
pskctool/gl/arg-nonnull.h
pskctool/gl/c++defs.h
pskctool/gl/libgnu.la
pskctool/gl/m4/libtool.m4
pskctool/gl/m4/ltoptions.m4
pskctool/gl/m4/ltsugar.m4
pskctool/gl/m4/ltversion.m4
pskctool/gl/m4/lt~obsolete.m4
pskctool/gl/stdio.h
pskctool/gl/stdlib.h
pskctool/gl/string.h
pskctool/gl/sys/
pskctool/gl/tests/.deps/
pskctool/gl/tests/arg-nonnull.h
pskctool/gl/tests/c++defs.h
pskctool/gl/tests/fcntl.h
pskctool/gl/tests/inttypes.h
pskctool/gl/tests/libtests.a
pskctool/gl/tests/test-binary-io
pskctool/gl/tests/test-errno
pskctool/gl/tests/test-fcntl-h
pskctool/gl/tests/test-fdopen
pskctool/gl/tests/test-fgetc
pskctool/gl/tests/test-fputc
pskctool/gl/tests/test-fread
pskctool/gl/tests/test-fstat
pskctool/gl/tests/test-ftell
pskctool/gl/tests/test-ftell3
pskctool/gl/tests/test-ftello
pskctool/gl/tests/test-ftello3
pskctool/gl/tests/test-ftello4
pskctool/gl/tests/test-fwrite
pskctool/gl/tests/test-intprops
pskctool/gl/tests/test-inttypes
pskctool/gl/tests/test-lseek
pskctool/gl/tests/test-read-file
pskctool/gl/tests/test-stdbool
pskctool/gl/tests/test-stddef
pskctool/gl/tests/test-stdint
pskctool/gl/tests/test-stdio
pskctool/gl/tests/test-stdlib
pskctool/gl/tests/test-strerror
pskctool/gl/tests/test-string
pskctool/gl/tests/test-sys_stat
pskctool/gl/tests/test-sys_types
pskctool/gl/tests/test-time
pskctool/gl/tests/test-unistd
pskctool/gl/tests/test-verify
pskctool/gl/tests/test-version-etc
pskctool/gl/tests/test-wchar
pskctool/gl/tests/warn-on-use.h
pskctool/gl/tests/wchar.h
pskctool/gl/time.h
pskctool/gl/unistd.h
pskctool/gl/warn-on-use.h
pskctool/libpskctool_cmd.la
pskctool/libtool
pskctool/pskctool
pskctool/pskctool.1
pskctool/pskctool_cmd.c
pskctool/pskctool_cmd.h
pskctool/stamp-h1
scan.tmp/
tests/test-pam_oath-root
website/NEWS.html
website/NEWS.txt
website/contrib.html
website/contrib.txt
website/docs.html
website/download.html
website/index.html
website/index.txt
website/liboath-api/
website/libpskc-api/
website/oathtool.1.html
website/pam_oath.html
website/pam_oath.txt
website/pskctool.1.html
