*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/install-sh
build-aux/missing
config.log
config.status
configure
hotptool/.deps/
hotptool/.libs/
hotptool/Makefile
hotptool/Makefile.in
hotptool/aclocal.m4
hotptool/autom4te.cache/
hotptool/build-aux/config.guess
hotptool/build-aux/config.sub
hotptool/build-aux/depcomp
hotptool/build-aux/install-sh
hotptool/build-aux/ltmain.sh
hotptool/build-aux/missing
hotptool/config.h
hotptool/config.h.in
hotptool/config.log
hotptool/config.status
hotptool/configure
hotptool/hotptool
hotptool/hotptool.1
hotptool/hotptool.o
hotptool/hotptool_cmd.c
hotptool/hotptool_cmd.h
hotptool/lib/.deps/
hotptool/lib/.libs/
hotptool/lib/Makefile
hotptool/lib/Makefile.in
hotptool/lib/libgnu.la
hotptool/lib/progname.lo
hotptool/lib/progname.o
hotptool/lib/string.h
hotptool/lib/version-etc.lo
hotptool/lib/version-etc.o
hotptool/libhotptool_cmd.la
hotptool/libhotptool_cmd_la-hotptool_cmd.lo
hotptool/libhotptool_cmd_la-hotptool_cmd.o
hotptool/libtool
hotptool/m4/libtool.m4
hotptool/m4/ltoptions.m4
hotptool/m4/ltsugar.m4
hotptool/m4/ltversion.m4
hotptool/m4/lt~obsolete.m4
hotptool/stamp-h1
libhotp/.deps/
libhotp/.libs/
libhotp/Makefile
libhotp/Makefile.in
libhotp/aclocal.m4
libhotp/autom4te.cache/
libhotp/build-aux/config.guess
libhotp/build-aux/config.sub
libhotp/build-aux/depcomp
libhotp/build-aux/install-sh
libhotp/build-aux/ltmain.sh
libhotp/build-aux/missing
libhotp/config.h
libhotp/config.h.in
libhotp/config.log
libhotp/config.status
libhotp/configure
libhotp/gtk-doc/Makefile
libhotp/gtk-doc/Makefile.in
libhotp/hotp.lo
libhotp/hotp.o
libhotp/lib/.deps/
libhotp/lib/.libs/
libhotp/lib/Makefile
libhotp/lib/Makefile.in
libhotp/lib/dummy.lo
libhotp/lib/dummy.o
libhotp/lib/gc-gnulib.lo
libhotp/lib/gc-gnulib.o
libhotp/lib/hmac-sha1.lo
libhotp/lib/hmac-sha1.o
libhotp/lib/libgnu.la
libhotp/lib/memxor.lo
libhotp/lib/memxor.o
libhotp/lib/sha1.lo
libhotp/lib/sha1.o
libhotp/lib/string.h
libhotp/libhotp.la
libhotp/libtool
libhotp/m4/libtool.m4
libhotp/m4/ltoptions.m4
libhotp/m4/ltsugar.m4
libhotp/m4/ltversion.m4
libhotp/m4/lt~obsolete.m4
libhotp/stamp-h1
libhotp/tests/.deps/
libhotp/tests/Makefile
libhotp/tests/Makefile.in
pam_hotp/.deps/
pam_hotp/.libs/
pam_hotp/Makefile
pam_hotp/Makefile.in
pam_hotp/aclocal.m4
pam_hotp/autom4te.cache/
pam_hotp/build-aux/
pam_hotp/config.h
pam_hotp/config.h.in
pam_hotp/config.log
pam_hotp/config.status
pam_hotp/configure
pam_hotp/libtool
pam_hotp/m4/
pam_hotp/pam_hotp.la
pam_hotp/pam_hotp.lo
pam_hotp/stamp-h1
pam_hotp/tests/.deps/
pam_hotp/tests/Makefile
pam_hotp/tests/Makefile.in
